<button routerLink="novo" type="button" class="btn btn-lg btn-block btnNovo"><fa-icon [icon]="faPlusSquare"></fa-icon> Novo</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Editar</th>
      <th scope="col">Deletar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoria of categorias | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
      <th scope="row">{{categoria.id}}</th>
      <td>{{categoria.nome}}</td>
      <td><button routerLink="editar/{{categoria.id}}" class="btn btn-warning btnIcon"><fa-icon [icon]="faEdit"></fa-icon></button></td>
      <td><button (click)="deletar(categoria.id)" class="btn btn-danger btnIcon"><fa-icon class="danger" [icon]="faTrashAlt"></fa-icon></button></td>
    </tr>
  </tbody>
</table>
<pagination-controls *ngIf="categorias.length > itemsPerPage" (pageChange)="page = $event"></pagination-controls>
